snippet log "console.writeline" i
Console.WriteLine($1)$2;
endsnippet

snippet con "console.log" i
Console.WriteLine($1)$2;
endsnippet

snippet ns "namespace" i
namespace $1 {
	$2
}
endsnippet

snippet cls "class"
public class $1 {
	$2
}
endsnippet
