extends typescript

snippet comp "Simple component"
<script lang="ts">
</script>

${1:<div>hello</div>}

<style lang="scss">
</style>
endsnippet

snippet ift "If tag"
{#if ${1}}
	${2}
{/if}
endsnippet

snippet ifet "If else tag"
{#if ${1}}
	${2}
{:else}
	${3}
{/if}
endsnippet

snippet fort "If else tag"
{#each ${1:items} as ${2:itm}}
	${3}
{/each}
endsnippet
